


.login_container {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #0097b2, #7ed957);
    display: grid;
    gap: 15px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 20px;
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 9999; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin: auto;
}

.hidden {
    display: none;
}


.login_container * {
    margin: 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.logo {
    width: 80px;
    height: 80px;
    justify-self: center;
}

h2 {
    text-align: center;
    font-size: 18px;
    color: white;
}


.login_container input {
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.login_container label{
    color: #fff;
}


.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.forgot-password {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.login-btn {
    
    background-color: #7ed957;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.register-btn {
    background-color: white;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.hidden{
    display: none;
}

.darkMode{
    background: rgba(0, 0, 0, 0.5);
}